body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #020111 0%, #000000 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
}

#contenedor {
  width: 100vw;
  height: 100vh;
}
