body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #000010 10%, #000 100%);
  height: 100vh;
}

#galaxia {
  position: absolute;
  top: 0;
  left: 0;
}

#sol {
  position: absolute;
  color: #ffd700;
  font-size: 2em;
  text-shadow: 0 0 15px #ffeb3b, 0 0 30px #ffa000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Segoe Script", cursive;
}
