body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #000010 10%, #000 100%);
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
